@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../assets/scss/variables";


.home-gallery {
  background: url("../../../assets/images/mist.jpg");
  background-size: 100% 100%;

  &__header {
    color: getColor(bluish-grey);
    text-align: center;
    font-weight: bold;
  }

  &__social-id {
    color: getColor(white);
    text-align: center;
    margin-bottom: 60px;
    font-weight: normal;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
      margin-right: 20px;
      &:hover {
        background: getColor(salmon-hover);
      }
    }
  }

  &__image {
    width: 100%;
    height: 350px;

    @include media-breakpoint-down(xl) {
      height: 350px;
    }

    @include media-breakpoint-down(lg) {
      height: 300px;
    }

    @include media-breakpoint-down(md) {
      height: 215px;
    }

    @include media-breakpoint-down(sm) {
      height: 150px;
    }

    @include media-breakpoint-down(xs) {
      height: 100%;
    }
  }

  &__while-loading-image {
    min-height: 150px;
  }
}