@import "../../../assets/scss/variables";

.footer {
  display: flex;
  background: getColor(black);
  color: getColor(white);
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  width: 100%;
  flex-shrink: 0;

  &__icon {
    margin-right: 30px;
    font-size: 24px;
    cursor: pointer;
    &:hover {
      color: getColor(salmon-hover)
    }
  }
}
