@import "../../../assets/scss/variables";

button, input[type='button'], input[type='submit'] {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.button {
  line-height: 38px;
  padding: 0 50px;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  height: 40px;
  display: block;
  font-size: 14px;
  background: getColor(salmon);
  color: white;

  &:hover {
    background-color: getColor(salmon-hover);
  }
}
